<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/layout-base}">
<th:block layout:fragment="content">
  <!--  <div class="row"> -->
  <!--    <div class="col-xl-12 mb-4"> -->
  <!--      <div class="card"> -->
  <!--          <div class="card-body"> -->
  <!--          </div> -->
  <!--        </div> -->
  <!--    </div> -->
  <!--  </div> -->
  <div class="row" id="userCont">
    <div class="col-xl-7">
      <!-- Profile picture card-->
      <div class="card">
        <!--            <div class="card-header"> -->
        <!--                     <div class="row"> -->
        <!--                      <div class="col-5"><h5>사용자목록</h5></div> -->
        <!--                          <div class="col-7 text-right"> -->
        <!--                            <button type="button" class="btn btn-sm btn btn-primary" > -->
        <!--                              123123 -->
        <!--                            </button> -->



        <!--                          </div> -->
        <!--                     </div> -->
        <!--            </div> -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold">사용자목록</h6>
          <div>
            <a href="#" role="button" id="reloadBtn">
              <i class="fas fa-redo fa-sm fa-fw text-gray-500"></i>
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="example" style="width: 100%">

            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-5">
      <!-- Account details card-->
      <form id="userForm" name="userForm">
        <div class="card mb-4">
          <div class="card-header">
            <div class="row">
              <div class="col-5">
                <h5>사용자정보</h5>
              </div>
              <div class="col-7 text-right"></div>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-6 ">
                <label class="small mb-6" for="userCd">ID</label>
                <div class="input-group">
                  <input class="form-control" id="userCd" type="text" placeholder="ID를 입력해주세요." aria-label="ID중복체크" aria-describedby="chkIdBtn">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button" id="chkIdBtn">
                      <i class="fas fa-check fa-sm"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="small mb-6" for="userNm">이름</label>
                <input class="form-control" id="userNm" type="text" placeholder="이름을 입력해주세요.">
              </div>
            </div>
            <!-- Form Row-->
            <div class="row  mb-3">
              <!-- Form Group (first name)-->
              <div class="col-md-6">
                <label class="small mb-6" for="userSts">상태</label> <select class="form-control" id="userSts">
                  <option value="">선택</option>
                  <option value="NORMAL">정상</option>
                </select>
              </div>
              <!-- Form Group (last name)-->
              <div class="col-md-6">
                <label class="small mb-6" for="userPh">휴대폰</label>
                <input class="form-control" id="userPh" type="tel" placeholder="휴대폰을 입력해주세요." value="">
              </div>
            </div>
            <div class="row  mb-3">
              <div class="col-md-6">
                <label class="small mb-6" for="updatedDt">최종수정일시</label>
                <input class="form-control" id="updatedDt" type="text" readonly="readonly">
              </div>

              <!-- Form Group (birthday)-->
              <div class="col-md-6">
                <label class="small mb-6" for="updatedNm">최종수정자</label>
                <input class="form-control" id="updatedNm" type="text" readonly="readonly">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script th:inline="javascript" th:src="@{/js/views/users/userForm.js}"></script>
</th:block>
</html>